<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
		<meta name="description" content="Aksam Assurance,  Gestion, Assurance ...">
		<meta name="author" content="Badr BECHTIOUTI">
		 {# <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@0.5.3/dist/css/axentix.min.css"> #}
		<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css" />
		<title>
			{% block title %}Aksam -Assurance
			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{# {{ encore_entry_link_tags('app') }} #}
			<link rel="shortcut icon" href="{{ asset('images/aksamLogo.jpeg') }}">
			<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
			<link rel="stylesheet" href="{{ asset('fonts/css/font-awesome.css') }}">
			<!-- FontAwesome Min CSS -->
            <link rel="stylesheet" href="{{ asset('css/fontawesome.min.css') }}">
			<!-- FlatIcon CSS -->
           <link rel="stylesheet" href="{{ asset('css/flaticon.css') }}">
		   <!-- Nice Select Min CSS -->
           <link rel="stylesheet" href="{{ asset('css/nice-select.min.css') }}">
			<link rel="stylesheet" href="{{ asset('css/style.css') }}">
			<link rel="stylesheet" href="{{ asset('css/style-responsive.css') }}">
			<script src="{{ asset('js/Chart.js') }}"></script>
			
		{% endblock %}


	</head>
	<body>
	<div id="loader">
        
    </div>
		<section
			id="container">
			<!-- HEADER -->
			{% block header %}
				<header class="header black-bg">
					{% include "header.html.twig" %}
				</header>
			{% endblock %}
			<!-- END HEADER -->

			<!-- ASIDE -->
			{% block aside %}
				<aside>
					<div id="sidebar" class="nav-collapse ">
						<ul class="sidebar-menu" id="nav-accordion">
							{% include 'aside.html.twig' %}
						</ul>
					</div>
				</aside>
			{% endblock %}
			<!-- END ASIDE -->

			<!-- END body -->
			<section id="main-content">
				<section class="wrapper site-min-height"> {% block body %}{% endblock %}
					</section>
				</section>
				<!-- END body -->

				<footer class="fd-flex fx-col">
					{% include "footer.html.twig" %}
				</footer>
			</section>

			<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            
		    <script src="{{ asset('js/Chart.js') }}"></script>
			<script src="{{ asset('js/jquery.min.js') }}"></script>
			<script src="{{ asset('js/bootstrap.min.js') }}"></script>
			<!-- Parallax Min JS --> 
			<script src="{{ asset('js/parallax.min.js') }}"></script>
			<!-- Nice Select Min JS --> 
            <script src="{{ asset('js/jquery.nice-select.min.js') }}"></script>
			<!-- WOW Min JS --> 
            <script src="{{ asset('js/wow.min.js') }}"></script>
			<script class="include" type="text/javascript" src="{{ asset('js/jquery.dcjqaccordion.2.7.js') }}"></script>
			<script src="{{ asset('js/jquery.scrollTo.min.js') }}"></script>
			<script src="{{ asset('js/jquery.nicescroll.js') }}" type="text/javascript"></script>
			<script src="{{ asset('js/jquery.sparkline.js') }}"></script>
			<script src="{{ asset('js/parsley.js') }}"></script>
			<script src="{{ asset('js/messages.js') }}"></script>
			<script src="{{ asset('js/jquery.maskedinput.min.js') }}"></script>
			<!--common script for all pages-->
			<script src="{{ asset('js/common-scripts.js') }}"></script>
			<script type="text/javascript" src="{{ asset('js/gritter-conf.js') }}"></script>
			<!--script for this page-->
			<script src="{{ asset('js/sparkline-chart.js') }}"></script>
			<!-- Main JS --> 
            <script src="{{ asset('js/main.js') }}"></script>
			{# {{ encore_entry_script_tags('app') }} #}
		   {% block javascripts %}
		    
			<script>
				 
				 
				var loader = $('#loader');
				$(window).on('load', function() {
					setTimeout(function() {
						loader.fadeOut('fast', function() { $(this).remove(); });
					}, 300)
				});
					

			</script>
		   {% endblock %}

		</body>
	</html>
	
		