{% extends 'base.html.twig' %}


{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="{{ asset('css/jquery.gritter.css') }}"/>
{% endblock %}


{% block body %}
	{% if app.user == true %}
		<!-- END CUSTOM CHART -->
	 
		{# <div class="col-lg-6 main-chart">
			<p class="centered">

				<a href="#">

					<img src=" {{ asset('images/nv_prosp.jpg') }} " class="img-circle" width="140" alt="">
				</a>
				<h2> Nouveaux Prospects  </h2>
			</p>
		
		   <table class="table table-striped table-advance table-hover"  >
					<thead>
					
							<tr>
								<th>Email</th>
								<th>Source</th>
								<th>Motif</th>
								<th>Type Prospect</th>
							</tr>
					</thead>
					<tbody>
					{% for prospect in prospects %} 
							<tr>
										<td>{{ prospect.email }}</td>
										<td>{{ prospect.source   }}</td> 
										<td>
											{% if prospect.motifSaise == 0 %}<span class="btn btn-info btn-xs"> Autre </span> {% endif %} 
											{% if prospect.motifSaise == 1 %}<span class="btn btn-danger btn-xs"> Parrainage </span> {% endif %}  
											{% if prospect.motifSaise == 2 %} <span class="btn btn-success btn-xs">Appel Entrant </span> {% endif %} 
											{% if prospect.motifSaise == 3 %}<span class="btn btn-warning btn-xs"> Avenant </span> {% endif %} 
						
										</td>
										<td>{{ prospect.typeProspect   }}</td>		
							</tr>
							{% endfor %}
				   </tbody>
		    </table> 
		</div> #}
         <div class="col-lg-6 main-chart">
			<p class="centered">

				<a href="#">
					<img src=" {{ asset('images/nv_prosp.jpg') }} " class="img-circle" width="140" alt="">
				</a>
				<h2> Stat Affectation du : {{ "now"|date("d/m/Y") }}   </h2> 
			</p>
		<style>
			table, th, td {
			border: 1px solid black;
			border-radius: 10px;
		    border-style: double; 
			
 
			}
			 th, td {
  text-align: center;
  
}
 

			 
  
		</style>
		  <table class="table table-striped table-advance table-hover"  >
			<colgroup>
				<col span="6" style="background-color: #D6EEEE">
				<col span="3" style="background-color: pink">
			</colgroup>
						<thead >
					
							<tr  style="text-align: left;" >
							{% if is_granted('ROLE_ADMIN') == true %}
								<th >Equipe</th>
							{% else %}
							 
								<th>comercl</th>
							{% endif %}
								<th>Nombre</th>
								<th>Parrainage</th>
								<th>Appl </th>
								<th>Avenant</th>
								<th>Ancienne </th>
								 
								<th>Site </th>
								<th>Revendeur </th>
								 
							</tr>
					</thead>
					<tbody>
	                          	{% if is_granted('ROLE_ADMIN') == true %}
							 	    <tr>
										<td><span class='btn btn' style="background-color:RoyalBlue ;">  Equipe A</span></td>  
									 
									    <td><span class="btn btn-primary"> {{ " %02d"|format(stats.prospectPrngeEqA + stats.prospectAppeEqA + stats.prospectAvneEqA + stats.prospectAncienEqA + stats.prospectAutrEqA) }} </span></td>
										<td> <span class="btn btn-danger ">  {{ " %02d"|format(stats.prospectPrngeEqA) }}   </span> </td>
										<td><span class="btn btn-success"> {{ " %02d"|format(stats.prospectAppeEqA) }}   </span></td>
										<td><span class="btn btn-warning">  {{ " %02d"|format(stats.prospectAvneEqA) }}   </span></td>
										 <td> <span class='btn btn' style="background-color:Violet;"> {{ " %02d"|format(stats.prospectAncienEqA) }}   </span> </td> 
									     <td><span class='btn btn' style="background-color:GreenYellow;">  {{ " %02d"|format(stats.prospectSiteEqA) }}   </span></td>     
									    <td><span class='btn btn' style="background-color:Aquamarine;">  {{ " %02d"|format(stats.prospectRevndEqA) }}   </span> </td>   
										  
									</tr>	
							 	    <tr>  
										<td><span class='btn btn' style="background-color:RoyalBlue ;">Equipe B</span></td>
									 
									    <td><span class="btn btn-primary"> {{ " %02d"|format(stats.prospectPrngeEqB + stats.prospectAppeEqB + stats.prospectAvneEqB + stats.prospectAncienEqB + stats.prospectAutrEqB) }} </span></td>
										<td> <span class="btn btn-danger ">  {{ " %02d"|format(stats.prospectPrngeEqB) }}    </span></td>
										<td><span class="btn btn-success"> {{ " %02d"|format(stats.prospectAppeEqB) }}    </span></td>
										<td><span class="btn btn-warning"> {{ " %02d"|format(stats.prospectAvneEqB) }}   </span></td>  
										<td> <span class='btn btn' style="background-color:Violet;"> {{ " %02d"|format(stats.prospectAncienEqB) }}   </span> </td>   
									      <td><span class='btn btn' style="background-color:GreenYellow;">  {{ " %02d"|format(stats.prospectSiteEqB) }}    </span></td> 
									    <td><span class='btn btn' style="background-color:Aquamarine;">  {{ " %02d"|format(stats.prospectRevndEqB) }}    </span></td>  
									</tr>
									<tr>
									 
										<td><span class='btn btn' style="background-color:RoyalBlue ;">Equipe C</span></td>
									 
									    <td><span class="btn btn-primary">{{ " %02d"|format(stats.prospectPrngeEqC + stats.prospectAppeEqC + stats.prospectAvneEqC + stats.prospectAncienEqC + stats.prospectAutrEqC) }}  </span></td>
										<td> <span class="btn btn-danger ">  {{ " %02d"|format(stats.prospectPrngeEqC) }}    </span></td>
										<td><span class="btn btn-success">  {{ " %02d"|format(stats.prospectAppeEqC) }}    </span></td>
										<td><span class="btn btn-warning">  {{ " %02d"|format(stats.prospectAvneEqC) }}      </span></td>
										<td> <span class='btn btn' style="background-color:Violet;"> {{ " %02d"|format(stats.prospectAncienEqC) }}   </span> </td>   
									     <td><span class='btn btn' style="background-color:GreenYellow;">   {{ " %02d"|format(stats.prospectSiteEqC) }}     </span></td>  
									    <td><span class='btn btn' style="background-color:Aquamarine;">  {{ " %02d"|format(stats.prospectRevndEqC) }}     </span></td>  
									</tr>	
									<tr>
									 
										<td><span class='btn btn' style="background-color:RoyalBlue ;">Equipe D</span></td>
										 
									    <td><span class="btn btn-primary">{{ " %02d"|format(stats.prospectPrngeEq + stats.prospectAppeEq + stats.prospectAvneEq + stats.prospectAncienEq + stats.prospectAutrEq) }} </span></td>
										<td> <span class="btn btn-danger "> {{ " %02d"|format(stats.prospectPrngeEq) }}     </span></td>
										<td><span class="btn btn-success"> {{ " %02d"|format(stats.prospectAppeEq) }}      </span></td>
										<td><span class="btn btn-warning"> {{ " %02d"|format(stats.prospectAvneEq) }}     </span></td> 
										<td> <span class='btn btn' style="background-color:Violet;"> {{ " %02d"|format(stats.prospectAncienEq) }}   </span> </td>  
									     <td><span class='btn btn' style="background-color:GreenYellow;">  {{ " %02d"|format(stats.prospectSiteEq) }}   </span></td>    
									    <td><span class='btn btn' style="background-color:Aquamarine;">  {{ " %02d"|format(stats.prospectRevndEq) }}   </span></td>   
									</tr>
										 
									       
									 <tr class="line">
										<td><span class='btn btn' style="background-color:SpringGreen ;"><strong> Total :&nbsp &nbsp  </strong> </span></td>
										 
									    <td><span class='btn btn' style="background-color:SpringGreen ;"><strong> {{ " %02d"|format(stats.prospectPrngeEq + stats.prospectAppeEq + stats.prospectAvneEq + stats.prospectAncienEq + stats.prospectAutrEq + stats.prospectPrngeEqC + stats.prospectAppeEqC + stats.prospectAvneEqC + stats.prospectAncienEqC + stats.prospectAutrEqC + stats.prospectPrngeEqB + stats.prospectAppeEqB + stats.prospectAvneEqB + stats.prospectAncienEqB + stats.prospectAutrEqB +  stats.prospectPrngeEqA + stats.prospectAppeEqA + stats.prospectAvneEqA + stats.prospectAncienEqA + stats.prospectAutrEqA ) }} </strong> </span></td>
										<td> <span class='btn btn' style="background-color:SpringGreen ;"> <b> {{ " %02d"|format(stats.prospectPrngeEq + stats.prospectPrngeEqC + stats.prospectPrngeEqB + stats.prospectPrngeEqA ) }}  </b>   </span></td>
										<td><span class='btn btn' style="background-color:SpringGreen ;"> <b> {{ " %02d"|format(stats.prospectAppeEq + stats.prospectAppeEqC + stats.prospectAppeEqB + stats.prospectAppeEqA) }}    </b>  </span></td>
										<td><span class='btn btn' style="background-color:SpringGreen ;"> <b> {{ " %02d"|format(stats.prospectAvneEq +stats.prospectAvneEqC + stats.prospectAvneEqB + stats.prospectAvneEqA ) }}   </b>  </span></td> 
										<td> <span class='btn btn' style="background-color:SpringGreen ;"> <b>{{ " %02d"|format(stats.prospectAncienEq + stats.prospectAncienEqC + stats.prospectAncienEqB + stats.prospectAncienEqA) }} </b>  </span> </td>  
									     <td><span class='btn btn' style="background-color:SpringGreen ;">  <b>{{ " %02d"|format(stats.prospectSiteEq + stats.prospectSiteEqA + stats.prospectSiteEqB + stats.prospectSiteEqC) }}  </b> </span></td>    
									    <td><span class='btn btn' style="background-color:SpringGreen ;">  <b>{{ " %02d"|format(stats.prospectRevndEq + stats.prospectRevndEqA + stats.prospectRevndEqB + stats.prospectRevndEqC) }}  </b> </span></td>   
									</tr>	
									 	
									 
								{% endif %}

		 
								{% if is_granted('ROLE_TEAM') == true %}
									
												
									 {% for team in teams %}
											{% for user in team.users %}
											   <tr> 
													 
													 
													<td><span class="btn btn-primary">
														
															{{  user  }}  
														 </span>
													</td>

													<td>  <span class="btn btn-primary">	 

													    
															{{   " %02d"|format(user.prospections| length)  }}  
														  </span> 

													</td> 
													<td> <span class="btn btn-danger">	 
														 
															{{   " %02d"|format(user.prospections|filter(p => p.motifSaise == 1)| length)  }}  
														 </span>
													</td>
													<td><span class="btn btn-success"> 	 
														 
															{{  " %02d"|format(user.prospections|filter(p => p.motifSaise == 2)| length)  }}  
													 </span>
													</td>
													<td> <span class="btn btn-warning">	 
														 
															{{  " %02d"|format(user.prospections|filter(p => p.motifSaise == 3)| length)  }}  
														 </span>
														</td>
													<td> <span class='btn btn' style="background-color:Violet;">	 
														 
															{{  " %02d"|format(user.prospections|filter(p => p.motifSaise  == 4)| length)  }} 
														 </span>
													 </td>
													 
													 
													 <td> <span class='btn btn' style="background-color:GreenYellow;">	 
													 
															{{  " %02d"|format(user.prospections|filter(p => p.motifSaise is null and p.source == 'Propre site' )| length)  }}  
														</span>
													 </td>
													 <td> <span class='btn btn' style="background-color:Aquamarine;">  
													 
															{{  " %02d"|format(user.prospections|filter(p => p.motifSaise is null and 	p.source == 'Revendeur' )| length)  }}  
														</span>
													 </td>
													
												</tr>
									
												 {% endfor %}
												<tr class="line">
													<td><span class='btn btn' style="background-color:SpringGreen ;"><strong> Total :&nbsp &nbsp  </strong> </span></td>
													
													<td><span class='btn btn' style="background-color:SpringGreen ;"><strong> {{  " %02d"|format(app.user.teams.prospects|filter(p => p.comrcl is not null)|length)  }}  </strong> </span></td>
													<td> <span class='btn btn' style="background-color:SpringGreen ;"> <b> {{  " %02d"|format(app.user.teams.prospects|filter(p => p.motifSaise == 1 and  p.comrcl is not null )| length)  }}    </b>   </span></td>
													<td><span class='btn btn' style="background-color:SpringGreen ;"> <b> {{  " %02d"|format(app.user.teams.prospects|filter(p => p.motifSaise == 2 and  p.comrcl is not null)| length)  }}     </b>  </span></td>
													<td><span class='btn btn' style="background-color:SpringGreen ;"> <b> {{  " %02d"|format(app.user.teams.prospects|filter(p => p.motifSaise == 3 and  p.comrcl is not null)| length)  }}    </b>  </span></td> 
													<td> <span class='btn btn' style="background-color:SpringGreen ;"> <b>{{  " %02d"|format(app.user.teams.prospects|filter(p => p.motifSaise == 4 and  p.comrcl is not null)| length)  }}  </b>  </span> </td>  
											    	<td><span class='btn btn' style="background-color:SpringGreen ;">  <b>{{  " %02d"|format(app.user.teams.prospects|filter(p => p.motifSaise is null and p.source == 'Propre site' and  p.comrcl is not null)| length)  }}   </b> </span></td>    
													<td><span class='btn btn' style="background-color:SpringGreen ;">  <b>{{  " %02d"|format(app.user.teams.prospects|filter(p => p.motifSaise is null and p.source == 'Revendeur' and  p.comrcl is not null) | length)  }}    </b> </span></td>   
												</tr>	
											{% endfor %}
											{# <td><span class="btn btn-success"> {{ app.user.teams.prospects | length  }}  </span></td>
											<td><span class="btn btn-warning"> {{ " %02d"|format(stats.prospectTestEqB) }} test   </span></td>
											<td><span class="btn btn-info">    {{ " %02d"|format(stats.prospectTetChef) }}  s </span></td>
											<td><span class="btn btn-info">    {{ app.user.teams.prospects|filter(p => p.motifSaise == 3)|length }}   </span></td>
									        <td><span class="btn btn-info">    {{ app.user.teams.prospects|filter(p => p.motifSaise == 0 and p.comrcl is null)|length }} c:n - m/0 	  </span></td>
									        <td><span class="btn btn-info">    {{ "%02d"|format(app.user.prospects|filter(p =>   p.comrcl  == '4'  and p.team == '3' )|length) }} c:n - m/1  </span></td> #}
							
									
							    {% endif %}
				   </tbody>
		    </table> 
		</div> 
		<div class="col-lg-4 main-chart">
		<p class="centered">

			<a href="{{path('app_prospect_index')}}"> <img src=" {{ asset('images/statiqueProspect.png') }} " class="img-circle" width="140" alt=""> </a>
			<h2> Prospects en Statique  &nbsp &nbsp  <a href="{{path('app_prospect_index')}}">Voir<i class="fas fa-eye"></i> </a>  </h2>  
	    </p>
		
		   <table class="table table-striped table-advance table-hover"  >
					<thead>
					
							<tr>
								 
								<th> % </th>
								<th>Nombre</th>
 
							</tr>
					</thead>
					<tbody>
					            {% if is_granted('ROLE_ADMIN') == true %}
						            <tr>
										<th>Nouveaux prospects :</th>
										<td><a href="{{path('app_prospect_index')}}"  ><span class="btn btn-primary"> {{" %02d"|format(app.session.get('security'))}} </span></a></td>
									</tr>
									
										<tr>
											<th>Parrainage :</th>
											<td><a href="{{path('app_prospect_index')}}"  > <span class="btn btn-danger "> {{ " %02d"|format(app.user.prospects|filter(p => p.motifSaise == 1  and p.team is null  and p.comrcl is null)|length) }}  </span></a></td>
										</tr>
										<tr>
											<th>Appl Entrant :</th>
											<td><a href="{{path('app_prospect_index')}}"  > <span class="btn btn-success"> {{ " %02d"|format(app.user.prospects|filter(p => p.motifSaise == 2  and p.team is null  and p.comrcl is null)|length) }} </span> </a></td>
										</tr>
										<tr>
											<th>Avenant :</th>
											<td><a href="{{path('app_prospect_index')}}"  > <span class="btn btn-warning"> {{ " %02d"|format(app.user.prospects|filter(p => p.motifSaise == 3  and p.team is null  and p.comrcl is null)|length) }} </span> </a></td> 
										</tr>
										<tr>
											<th>Ancienne contrat :</th>
											<td><a href="{{path('app_prospect_index')}}"  > <span  class='btn btn' style="background-color:Violet;">  {{ " %02d"|format(app.user.prospects|filter(p => p.motifSaise == 4 and p.team is null  and p.comrcl is null)|length) }}</span> </a></td>  
										</tr> 
										 
										<tr  >
												<th>&#8239; &#8239; &#8239; &#8239; &#8239;   - Propre Site :</th>
												<td><a href="{{path('app_prospect_index')}}"  > <span class='btn btn' style="background-color:GreenYellow;">	   {{ " %02d"|format(app.user.prospects|filter(p => p.source == 'Propre site' and p.team is null  and p.comrcl is null)|length) }}</span> </a></td>  
										</tr>
										<tr  >
												<th> &#8239; &#8239; &#8239; &#8239; &#8239;  - Revendeur :</th>
												<td><a href="{{path('app_prospect_index')}}"  > <span class='btn btn' style="background-color:Aquamarine;">    {{ " %02d"|format(app.user.prospects|filter(p => p.source == 'Revendeur' and p.team is null  and p.comrcl is null)|length) }}</span> </a></td>  
										</tr>
									 
									{% endif %}
                                    {% if is_granted('ROLE_TEAM') == true %}

									 <tr>
										<th>Nouveaux prospects :</th>
										<td><a href="{{path('app_prospect_index')}}"  ><span class="btn btn-primary">
										 {{ " %02d"|format(
										(app.user.teams.prospects|filter(p => p.motifSaise == 1 and p.comrcl is null)|length) +
										(app.user.teams.prospects|filter(p => p.motifSaise == 2 and p.comrcl is null)|length) +
										(app.user.teams.prospects|filter(p => p.motifSaise == 3 and p.comrcl is null)|length) +
										(app.user.teams.prospects|filter(p => p.motifSaise == 4 and p.comrcl is null)|length) +
										(app.user.teams.prospects|filter(p => p.motifSaise is null and p.comrcl is null)|length)
										)}}	 </span></a></td>
									</tr>

									 
										<tr>
											<th>Parrainage :</th>
											<td> <a href="{{path('app_prospect_index')}}"  ><span class="btn btn-danger">  {{ " %02d"|format(app.user.teams.prospects|filter(p => p.motifSaise == 1 and p.comrcl is null)|length) }}     </span></a></td>  
										</tr>
										<tr>
											<th>Appl Entrant  :</th>
											<td> <a href="{{path('app_prospect_index')}}"  ><span class="btn btn-success">  {{ " %02d"|format(app.user.teams.prospects|filter(p => p.motifSaise == 2 and p.comrcl is null)|length) }}  </span></a></td>  
										</tr>
										<tr>
											<th>Avenant :</th>
											<td><a href="{{path('app_prospect_index')}}"  > <span class="btn btn-warning">  {{ " %02d"|format(app.user.teams.prospects|filter(p => p.motifSaise == 3 and p.comrcl is null)|length) }} </span></a> </td>  
										</tr>
										<tr>
											<th>Ancienne contrat :</th>
											<td><a href="{{path('app_prospect_index')}}"  > <span class='btn btn' style="background-color:Violet;">  {{ " %02d"|format(app.user.teams.prospects|filter(p => p.motifSaise == 4 and p.comrcl is null)|length) }}</span> </a></td>  
										</tr>
										 
										<tr >
											<th>&#8239; &#8239; &#8239; &#8239; &#8239;   - Propre Site :</th>
											<td><a href="{{path('app_prospect_index')}}"  > <span class='btn btn' style="background-color:GreenYellow;">  {{ " %02d"|format(app.user.teams.prospects|filter(p => p.source == 'Propre site' and p.comrcl is null)|length) }}</span> </a></td>  
										</tr>
										<tr  >
											<th> &#8239; &#8239; &#8239; &#8239; &#8239;  - Revendeur :</th>
											<td><a href="{{path('app_prospect_index')}}"  > <span class='btn btn' style="background-color:Aquamarine;">   {{ " %02d"|format(app.user.teams.prospects|filter(p => p.source == 'Revendeur' and p.comrcl is null)|length) }}</span> </a></td>  
										</tr>
									{% endif %}
							        </tr>		 
				    </tbody>
		    </table> 
		</div>
      
 

		<div class="row">
			<div class="col-lg-9 main-chart">

				
				<!-- CUSTOM CHART -->
				<div class="border-head">
					<h3>STATISTIQUE GENERALE  DU
						{{ "now"|date("d/m/Y") }}</h3>
				</div>
				<div class="custom-bar-chart">
					<ul class="y-axis">
						<li>
							<span>100</span>
						</li>
						<li>
							<span>80</span>
						</li>
						<li>
							<span>60</span>
						</li>
						<li>
							<span>40</span>
						</li>
						<li>
							<span>20</span>
						</li>
						<li>
							<span>0</span>
						</li>
					</ul>
					<div class="bar">
						<div class="title">USERS</div>
						<div class="value tooltips" data-original-title=" {{ " %02d"|format(stats.users) }} " data-toggle="tooltip" data-placement="top">
							{{ "%02d"|format(stats.users) * 2.7 }}
						</div>
					</div>
					<div class="bar ">
						<div class="title">PRODUITS</div>
						<div class="value tooltips" data-original-title="  {{ " %02d"|format(stats.products) }} " data-toggle="tooltip" data-placement="top">
							{{ "%02d"|format(stats.products) * 2.7 }}
						</div>
					</div>
					<div class="bar ">
						<div class="title">EQUIPES</div>
						<div class="value tooltips" data-original-title="  {{ " %02d"|format(stats.teams) }} " data-toggle="tooltip" data-placement="top">
							{{ "%02d"|format(stats.teams) * 2.7 }}
						</div>
					</div>
					<div class="bar ">
						<div class="title">CLIENTS</div>
						<div class="value tooltips" data-original-title=" {{ " %02d"|format(stats.clients)   }}  " data-toggle="tooltip" data-placement="top">
							{{ " %02d"|format(stats.clients)  * 2.7 }}
						</div>
					</div>
					<div class="bar ">
						<div class="title">POSPECTS</div>
						<div class="value tooltips" data-original-title=" {{ " %02d"|format(stats.prospects)   }} " data-toggle="tooltip" data-placement="top">
							{{ "%02d"|format(stats.prospects)  * 2.7 }}
						</div>
					</div>
					<div class="bar ">
						<div class="title"></div>
						<div class="value tooltips" data-original-title="6.200" data-toggle="tooltip" data-placement="top">
							62%
						</div>
					</div>
					<div class="bar">
						<div class="title"></div>
						<div class="value tooltips" data-original-title="7.500" data-toggle="tooltip" data-placement="top">
							75%
						</div>
					</div>
				</div>
				<!-- END CUSTOM CHART -->

				<div class="row mt">
					<!-- SERVER STATUS PANELS -->
					<div class="col-md-3 col-sm-3 mb">
						<div class="grey-panel pn donut-chart">
							<div class="grey-header">
								<h5>Utilisateurs</h5>
							</div>
							<canvas id="serverstatus01" height="120" width="120"></canvas>
							<script>
								var doughnutData = [
								{
								value: {{ "%02d"|format(stats.users) }},
								color: "#FF6B6B"
								}, {
								value: 100,
								color: "#fdfdfd"
								}
								];
								var myDoughnut = new Chart(document.getElementById("serverstatus01").getContext("2d")).Doughnut(doughnutData);
															</script>
							<div class="row">
								<div class="col-sm-6 col-xs-6 goleft">
									<p>Utilisateurs<br/>Disponible :</p>
								</div>
								<div class="col-sm-6 col-xs-6">
									<h2>{{ "%02d"|format(stats.users) }}
									</h2>
								</div>
							</div>
						</div>
						<!-- /grey-panel -->
					</div>
					<!-- /col-md-4-->
					<div class="col-md-3 col-sm-3 mb">
						<div class="darkblue-panel pn">
							<div class="darkblue-header">
								<h5>STATISTIQUES PRODUITS</h5>
							</div>
							<canvas id="serverstatus02" height="120" width="120"></canvas>
							<script>
								var doughnutData = [
								{
								value: {{ "%02d"|format(stats.products) }},
								color: "#1c9ca7"
								}, {
								value: 100,
								color: "#f68275"
								}
								];
								var myDoughnut = new Chart(document.getElementById("serverstatus02").getContext("2d")).Doughnut(doughnutData);
							</script>
							<p>{{ "now"|date("d/m/Y") }}</p>
							<footer>
								<div class="pull-left">
									<h5>
										<i class="fa fa-hdd-o"></i>
										Total Produits</h5>
								</div>
								<div class="pull-right">
									<h5>{{ "%02d"|format(stats.products) }}
										Disponible</h5>
								</div>
							</footer>
						</div>
						<!--  /darkblue panel -->
					</div>
					<!-- /col-md-4 -->
					<div class="col-md-3 col-sm-3 mb">
						<!-- REVENUE PANEL -->
						<div class="green-panel pn">


							<div class="green-header">
								<h5>EQUIPES</h5>
							</div>
							<canvas id="serverstatus03" height="120" width="120"></canvas>
							<script>
								var doughnutData = [
								{
								value: {{ "%02d"|format(stats.teams) }},
								color: "#2b2b2b"
								}, {
								value: 100,
								color: "#fffffd"
								}
								];
								var myDoughnut = new Chart(document.getElementById("serverstatus03").getContext("2d")).Doughnut(doughnutData);
															</script>
							<h3>({{ "%02d"|format(stats.teams) }}) DISPONIBLE</h3>
						</div>
					</div>
					<!-- /col-md-4 -->

					<div class="col-md-3 col-sm-3 mb">
						<!-- REVENUE PANEL -->
						<div class="blue-panel pn"> 
							<div class="blue-header">
								<h5>PROSPECTS</h5>
							</div>
							<canvas id="serverstatus04" height="120" width="120"></canvas>
							<script>
								var doughnutData = [
								{
								value: {{ "%02d"|format(stats.prospects) }},
								color: "#2b2b2b"
								}, {
								value: 100,
								color: "#fffffd"
								}
								];
								var myDoughnut = new Chart(document.getElementById("serverstatus04").getContext("2d")).Doughnut(doughnutData);
							</script>
							<h3>({{ "%02d"|format(stats.prospects) }}) DISPONIBLE</h3>
						</div>
					</div>
				<!-- /col-md-4 -->
			</div>
			<!-- /row -->
        </div>

		{% else %}

			<div class="col-md-12 mt text-center">
				<div class="alert alert-danger ">
					<h3>Vous été pas connecté !
					</h3>
					<h3>
						Essaye de
						<a class="btn btn-theme" href="{{ path('app_login') }}">Connecter
						</a>
						ou bien
						<a class="btn btn-primary" href="{{ path('register') }}">Inscrire</a>
						si tu n'as pas de compte !
					</h3>
				</div>
			</div>

		{% endif %}


		<!-- /col-md-4-->


	{% endblock %}
	{% block javascripts %}
		{{ parent() }}
		<script type="text/javascript" src="{{ asset('js/jquery.gritter.js') }}"></script>
	 

		<script src="{{ asset('js/date-popover.js') }}"></script>
       
 
  <script>
    function togglePanel() {
      var panel = document.getElementById('panell');
      if (panel.style.display === 'none') {
        panel.style.display = 'table-row'; // ou 'block' si le parent est un tbody
      } else {
        panel.style.display = 'none';
      }
	   var panel = document.getElementById('panel1');
      if (panel.style.display === 'none') {
        panel.style.display = 'table-row'; // ou 'block' si le parent est un tbody
      } else {
        panel.style.display = 'none';
      }
    }
  </script>

  <script>
var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
  return new bootstrap.Popover(popoverTriggerEl)
})
</script>
			
				{# <script> 
					$(document).ready(function(){
					$("#flipp").click(function(){
						$("#panell").slideToggle("slow");
						$("#panel1").slideToggle("slow");
					});
					});
				</script> #}
				 
	{% endblock %}
