{% extends 'base.html.twig' %}

{% block title %}Team{% endblock %}

{% block body %}
    <h1>Team</h1>

    <table class="table">
     <thead>
								<tr>
									<th>Id</th>
									<th>Name</th>
									<th>Affecte</th>
									<th>Panier</th>
									<th>User</th>
									<th>Nombre</th>
									<th>Parrainage </th>
									<th>Appel </th>
									<th>Avenant </th>
									<th>Ancienne</th>    
									<th>site </th>
									<th>Revendeur </th>
								</tr>
			 </thead>
        <tbody>
            <tr>
                
                <td>{{ team.id }}</td>
            
                
                <td>{{ team.name }}</td>
             
                
           
                <td>  {{ team.prospects|length }}   </td>
            

             
                <td>  {{ team.prospects|filter(p => p.comrcl is null  )| length  }}    </td>
            
                <td> 
						{% for user in team.users %}
												{{  user  }} <br>
						{% endfor %}
				</td>
             
                <td>
										 
										  {% for user in team.users %}
											{{  user.prospections | length   }} <br>
										   {% endfor %}
		       </td>
            
                <td>   
										    {% for user in team.users %}
										    	{{ user.prospections|filter(p => p.motifSaise == 1 )| length }} <br>
										  	{% endfor %}    
                </td>
             
                <td>   
										      {% for user in team.users %}
										    	{{ user.prospections|filter(p => p.motifSaise == 2 )| length }} <br>
										  	{% endfor %}  
               </td>
             
                <td>   
										 {% for user in team.users %}
										    	{{ user.prospections|filter(p => p.motifSaise == 3 )| length }} <br>
										  	{% endfor %}  
              </td>
             
                <td>   
										     {% for user in team.users %}
										    	{{ user.prospections|filter(p => p.motifSaise == 4 )| length }} <br>
										  	{% endfor %}  
                 </td>
             
                <td>   
										    {% for user in team.users %}
										    	{{ user.prospections|filter(p => p.motifSaise is null and p.source == 'Propre site')| length }} <br>
										  	{% endfor %}   
                 </td>
            
                <td>   
										     {% for user in team.users %}
										    	{{ user.prospections|filter(p => p.motifSaise is null and p.source == 'Revendeur' )| length }} <br>
										  	{% endfor %}  
                 </td>
            </tr>

        </tbody>
    </table>

    <a href="{{ path('app_team_index') }}">back to list</a>

    <a href="{{ path('app_team_edit', {'id': team.id}) }}">edit</a>

    {{ include('team/_delete_form.html.twig') }}
{% endblock %}
